table.battleTable{
	border-collapse: collapse;
}

td.pokemonContainer{
	width: 15%;
}

td.active{
	background-color: green;
}

td.inactive{
	background-color: yellow;
}

td.fainted{
	background-color: red;
}

div.battleLog{
	overflow:scroll;
	height:250px;
}