table.battleTable{
	border-collapse: collapse;
}

td.pokemonContainer{
	width: 15%;
}

td.active{
	background-color: green;
}

td.inactive{
	background-color: yellow;
}

td.fainted{
	background-color: red;
}

div.battleLog{
	overflow:scroll;
	height:250px;
}

div.hpBar{
	background-color: grey;
	width: 200px;
	height: 10px;
}

div.innerHpBar{
	background-color: darkgreen;
	width: 100%;
	height:100%;
}